*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: #939799;;
}

.container{
    background-color:#273549 ;;
    border: 5px solid white;
    border-radius: 0.625rem;
    width: 34rem;
    height: 27rem;
    margin-top: 6.25rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1.875rem;
}

.sub-container1, .sub-container2{
    background-color:#273549 ;
}

.sub-container2{
    display: flex;
    justify-content: space-between;
}

.sub-container3{
    display: flex;
    justify-content:space-around;
}


.firsth1{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0;
}

.secondh1{
    color:#10B981 ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

button{
    color:#FFFFFF;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: #10B981;
    border: none;
    width: 10rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1.875rem;
}

h3{
    color: #939799;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0;
}
label{
    color: #939799;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

hr{
    background-color: #939799;
    margin-bottom: 1.875rem;
}

form{
    margin-bottom: 20px;;
}


.pass{
    color: #10B981;
    /* width: 15rem; */
    height: 1.875rem;
    font-size: 1.25rem;
    background:rgb(60, 60, 68);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 1.25rem;
    border-style: none;
}

@media (max-width: 548px) {
    .container{
        width: 90vw;
        height: 38rem;
        align-self: center;
    }

    .small-screens{
        flex-direction: column;
    }
}

@media (max-width:308px) {
    .container{
        height: 40rem;
    }
}